/*************/
/* CSS reset */
/*************/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__nuxt {
  isolation: isolate;
}

/*************/
/* end reset */
/*************/

/*************/
/* Fonts */
/*************/

@font-face {
  font-family: 'Montserrat';
  src: url('~/assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  src: url('~/assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('~/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url('~/assets/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  src: url('~/assets/fonts/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: italic;
  src: url('~/assets/fonts/Montserrat-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;
  src: url('~/assets/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: italic;
  src: url('~/assets/fonts/Montserrat-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'NunitoSans';
  src: url('~/assets/fonts/NunitoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NunitoSans';
  font-weight: bold;
  src: url('~/assets/fonts/NunitoSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'NunitoSans';
  font-weight: 600;
  src: url('~/assets/fonts/NunitoSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'NunitoSans';
  font-weight: 300;
  src: url('~/assets/fonts/NunitoSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'NunitoSans';
  font-style: italic;
  src: url('~/assets/fonts/NunitoSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'NunitoSans';
  font-weight: bold;
  font-style: italic;
  src: url('~/assets/fonts/NunitoSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'NunitoSans';
  font-weight: 600;
  font-style: italic;
  src: url('~/assets/fonts/NunitoSans-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'NunitoSans';
  font-weight: 300;
  font-style: italic;
  src: url('~/assets/fonts/NunitoSans-LightItalic.ttf') format('truetype');
}

body {
  font-family: var(--body-font);
  color: var(--font-color);
  padding-top: 78px;
  @media (max-width: 700px) {
    padding-top: 57px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}

/*************/
/* end Fonts */
/*************/

.container {
  width: 1360px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  @media (max-width: $mediumBreakpoint) {
    padding: 0 15px;
  }
}

p {
  margin-bottom: 15px;
}

a:link {
  color: var(--primary-color);
  //text-decoration: none;
}

a:visited {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: bold;
}

a:active {
  color: var(--primary-color);
}

.vel-img-title {
  opacity: 1 !important;
  font-size: 16px !important;
  color: white !important;
  background-color: black;
  padding: 7px 10px;
  border-radius: 2px;
  white-space: initial!important;
}
