/*************/
/* Variables */
/*************/

:root {
  --primary-color: #09DBCA;
  --secondary-color: #111C3E;
  --font-color: #000000;
  --error-color: #ee3636;
  --header-font: 'NunitoSans', sans-serif;
  --body-font: 'Montserrat', sans-serif;
}

$mediumBreakpoint: 900px;
$smallBreakpoint: 600px;

/*****************/
/* end Variables */
/*****************/
